.container{
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: #DDD;
    align-items: flex-start;
    justify-content: center;

}

.container div{
    width: 100px;
    height: 100px;
    background-color: #F00;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}